@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;700 & display=swap');

*{
	font-family: 'roboto', 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size:100%;
	color: #333;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	/*border: 1px solid red;*/
}
.navbar{
	box-shadow: 0px 0px 8px black;
	line-height: 40px;
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}

.navbar a:active{
	background: rgba(255,255,255,.1);
}



section{
	padding-top: 100px;
	padding-bottom: 50px;
}

#Inicio-Menu{
	padding: 0;
}

body{
	background-size:cover, cover ;
	background: url(hero.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

}
#Inicio-Menu, #Mapa-Menu{
	
	min-height: 100vh;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	text-align: center;

}

#Sobre-Menu{
	background:white;
}
#Inicio-Menu h1, #Inicio-Menu h3 {

	color: white;
}
#Inicio-Menu h3{
	font-size: 3.2rem;
	margin-bottom: 15px;
}
#Inicio-Menu h3{
	font-size: 2rem;
	margin-bottom: 15px;
}
#Inicio-Menu label, #Inicio-Menu .btn{

	line-height: 40px;
}

#Inicio-Menu .btn{
	border-radius: 4px; 
	background-color:rgba(255,255,255,.1);
}
#Inicio-Menu .btn:hover{
	opacity: 1;
}
#Fotos-Menu {



}

figure img {
	width: 1fr;
	border-radius: 5px;
}

@media (max-width: 700px){
	figure {
		display: block;
		width: 100vw;
	}
	#Inicio-Menu {bottom: 0; }
	#Inicio-Menu h1 {font-size: 2.5rem}
	#Inicio-Menu h3 {font-size: 1.5rem}

}



